.nav{
    display: flex;
    width: 100%;
}
.nav__left{
    display: flex;
    width: 60%;
    @include breakpoint($tablet-bp){
        width: 30%;
    }
}
.nav__right{
    display: flex;
    justify-content: flex-end;
    width: 40%; 
    @include breakpoint($tablet-bp){
        width: 70%;
    }
}
.nav__item{
    position: relative;
    font-weight: normal;
    font-size: 11px;
    padding: 15px 18px;
    transition: background-color .2s linear ;
    &:hover{
        background-color: $blue;
        > .subnav{
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
        }
    }
    @include breakpoint($tablet-bp){
        display: none;
    }
    .nav__item-link{
        display: block;
        text-decoration: none;
        color: #FFFFFF;
        text-transform: uppercase;
        
        &.has-subnav{
            position: relative;
            margin-right: 25px;
            &:after{
                position: absolute;
                display: block;
                top: 40%;
                left: 55px;
                content: "";
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #ffffff transparent transparent transparent;
            }
        }
        @include breakpoint($tablet-bp){
            display: none;
        }
    }
    
}
