<header class="header">
    <div class="nav">
        <div class="nav__left">
            <div class="nav__item">
                <a href="#" class="nav__item-link">ГЛАВНАЯ</a>
            </div>
            <div class="nav__item">
                <a href="#" class="nav__item-link has-subnav">СТАТЬИ</a>
                <ul class="subnav">
                    <li>
                        <a href="#" class="subnav__link">Создание сайтов</a>
                    </li>
                    <li>
                        <a href="#" class="subnav__link">Интернет-маркетинг</a>
                    </li>
                    <li>
                        <a href="#" class="subnav__link">Продвижение видео</a>
                    </li>
                </ul>
            </div>
            <div class="nav__item">
                <a href="#" class="nav__item-link">ОБО МНЕ</a>
            </div>
            <div class="nav__item ">
                <a href="#" class="nav__item-link">РЕКЛАМА</a>
            </div>
        </div>
        <div class="nav__right">
            <div class="nav__item">
                <a href="#" class="nav__item-link">ПРОФИЛЬ</a>
            </div>
            <form action="/" method="post" class="search">
                <input type="text" placeholder="Поиск по блогу" class="search-text">
            </form>
        </div> 
    </div>
    <button class="burger" id="sidebarToggle" type="button">
        <span>Открыть навигацию</span>
    </button>
</header>
