<div class="modal" id="share-modal">
    <div class="modal__content modal__content--share">
        <a href="#" class="modal__share">
            <img src="/assets/images/facebook-icon.svg" alt="facebook" class="modal__share-icon">
        </a>
        <a href="#" class="modal__share">
            <img src="/assets/images/twitter-icon.svg" alt="twitter" class="modal__share-icon">
        </a>
        <a href="#" class="modal__share">
            <img src="/assets/images/vk-icon.svg" alt="vk" class="modal__share-icon">
        </a>
        <a href="#" class="modal__share">
            <img src="/assets/images/copy-icon.svg" alt="copy" class="modal__share-icon">
        </a>
        <button class="modal__close" type="button">
            <img src="/assets/images/close.svg" alt="close">
        </button>
    </div>
</div>