<aside class="sidebar" id="sidebar">
    <div class="sidebar__header">
        <img src="/assets/images/sidebar-header.jpg" alt="sidebar picture" class="sidebar__header-pic">
    </div>
    <div class="profile">
        <img class="profile__avatar" src="/assets/images/sidebar-profile.png" alt="">
        <div class="profile__name">Дмитрий Валак</div>
        <div class="profile__prof">блог front-end разработчика</div>
        <div class="profile__social line">
            <a href="#" class="profile__social-inst">
                <img src="/assets/images/instagram.svg" alt="instagram">
            </a>
            <a href="#" class="profile__social-vk">
                <img src="/assets/images/vk.svg" alt="vk">
            </a>
            <a href="#" class="profile__social-pin">
                <img src="/assets/images/pinterest.svg" alt="pinterest">
            </a>
        </div>
        <div class="profile__text line">Front-end разработчик. Практик верстки сайтов.

                Созданием сайтов занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал более 10 000 часов в создании сайтов различной сложности.
        </div>        
    </div>
        <div class="sidebar__content">
        <div class="mobile__nav">
            <div class="mobile__nav-item">
                <a href="#" class="mobile__nav-link has-subnav">Статьи</a>
                <ul class="mobile__nav-subnav">
                    <li>
                        <a href="#" class="subnav-link">Создание сайтов</a>
                    </li>
                    <li>
                        <a href="#" class="subnav-link">Интернет-маркетинг</a>
                    </li>
                    <li>
                        <a href="#" class="subnav-link">Продвижение видео</a>
                    </li>
                </ul>
            </div>
            <div class="mobile__nav-item">
                <a href="#" class="mobile__nav-link">Обо мне</a>
            </div>
            <div class="mobile__nav-item ">
                <a href="#" class="mobile__nav-link">Реклама</a>
            </div>
            <div class="mobile__nav-item">
                <a href="#" class="mobile__nav-link">Профиль</a>
            </div>
        </div>
        <div class="sidebar__footer">
            <div class="sidebar__buttons">
                <a href="#" class="sidebar__button sidebar__button--red">Мои работы</a>
                <a href="#" class="sidebar__button sidebar__button--blue" data-modal="contact-modal">Написать мне</a>
            </div>
        </div>
</aside>